.mainContainer {
    margin: auto;
}

h1 {
    text-align: center;
}

.logs {
    margin: auto;
    width: 50%;
    margin-top: 30px;
}

.Screen {
    min-height: 100px;
    display: flex;
    flex-direction: column;
}

.mainContainer {
    width: 50%;
    display: flex;
    justify-content: space-between;
}
h2 {
    text-align: center;
}

.playerScreen .screen {
    display: flex;
    
}

.enemyScreen .screen {
    display: flex;
    
}

.eleCont {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
img {
    min-height: 200px;
    width: 200px;
    margin-bottom:  5px;
}

.playAgain {
    margin: auto;
    padding: 20px;
    font-size: 20px;
}



